# FastAPI Core
fastapi
uvicorn[standard]

# Agentic Framework
agno

# Data Validation & Config
pydantic
pydantic-settings
python-dotenv
pydantic[email] 
PyJWT
# Networking & APIs
httpx

# Database (Mohammed)
sqlalchemy
databases[postgresql]
qrcode
# Scraping & Tools (Reda)
beautifulsoup4
playwright

# Backend Tools (Halima)
reportlab

# UI
streamlit
